*{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/addressBkg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.cep-form{
    display: flex;
    flex-direction: column;
    background-color: #1551abab;
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 2px 2px #1551abcd;
    border-radius: 5px;
}

.cep-form h2 {
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.cep-form input{
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin-left: 5px;
    font-size: 15px;
    outline-style: none;
}
.cep-form label{
    padding-top: 3px;
    margin-top: 10px;
    color: #fff;
    margin-left: 5px;
}

#state , #city, #district , #address{
    background-color: #ffffffea;
}

.cep-form footer{
    text-align: center;
    font-size: 12px;
    color: #fffcccff;
}